/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

hr {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.validation-block {
  border: 1px solid gray;
  border-radius: 6px;
  margin-bottom: 10px;
  overflow: hidden;
  display: block;

  .inner-form {
    display: block;
    padding: 15px;
  }
}
